.fi-section-content {
    padding: 0 !important;
}

.uk-nestable-item {
    margin-top: 0 !important;
}

.uk-nestable-placeholder {
    background-color: rgba(37, 99, 235, 0.25) !important;
}

.task-buttons {
    display: none; /* Hide buttons by default */
}

.content-item:hover .task-buttons {
    display: flex; /* Show buttons on hover */
}

.task-buttons {
    position: absolute;
    right: 10px; /* Adjust based on your layout */
    bottom: 2%;
    z-index: 10;
}

.task-buttons {
    border: 1px solid #d5d8dc;
    box-shadow: 4px 24px 56px rgba(147,155,183,.24);
    border-radius: 10px;
    background-color: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

html.dark .task-buttons {
    background: #1e1e1e;
    border: 1px solid #2d2d2d;
    box-shadow: 4px 24px 56px rgba(0,0,0,.24);
}

html.dark .task-buttons button {
    color: #fff;
    background: transparent;
}

.task-buttons button {
    background: transparent;
    border: none;
    padding: 3px 6px;
    margin: 1.5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    color: #5d646e;
}

.task-buttons button:hover {
    background: #2563eb;
    color: #fff;
}

html.dark .task-buttons button:hover {
    background: #77a2ff;
    color: #fff;
}

.content-item:hover {
    color: rgb(15, 40, 93);
}

.content-item {
    position: relative;
}

html.dark .content-item:hover {
    color: #77a2ff;
}

html.dark .uk-nestable-item:hover {
    background: transparent;
}

/* delete button */
.task-buttons button:last-child {
    color: #f00;
}

.task-buttons button:last-child:hover {
    color: #fff;
    background: #f00;
}

html.dark .task-buttons button:last-child {
    color: #f00;
}

html.dark .task-buttons button:last-child:hover {
    color: #fff;
    background: #f00;
}

.highlight {
    background-color: rgba(37, 99, 235, 0.25); /* Couleur de surlignage */
}

.filter-icon:hover {
    color: #2563eb;
    transition: color 0.3s;
}

figure.attachment {
    max-width: 50%;
}

figcaption.attachment__caption {
    display: none;
}

.choices__inner {
    display: flex !important;
}
